.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media(min-width: 800px){
        padding: 20px 0;
    }

    .logo {
        max-width: clamp(110px, 20vw, 160px);
    }

    button {
        span {
            font-size: clamp(1.8125rem, 6vw, 3rem);
        }
    }
}