<section id="produtos" class="section-padding background-white">
  <div class="container">
    <h2 class="title two m-bottom4">{{ title }}</h2>
    <ul class="product-list">
      <li *ngFor="let product of productList">
        <img [src]="product.img" [alt]="product.name" />
        <h3 class="title five m-top2 m-bottom1">{{ product.name }}</h3>
        <span class="title small">{{
          product.price.toLocaleString("pt-BR", {
            style: "currency",
            currency: "BRL"
          })
        }}</span>
        <div class="m-top2 button-box">
          <button class="btn solid1 square" (click)="handleAdd(product)">
            <span
              class="material-symbols-outlined"
              aria-label="add_shopping_cart"
              title="Adicionar ao carrinho"
            >
              add_shopping_cart
            </span>
          </button>
          <a class="link" [routerLink]="redirectURL(product.id)">Saiba mais</a>
        </div>
      </li>
    </ul>
  </div>
</section>
