:root{
    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #EEEEEE;
    --color-white40: rgba(217, 217, 217, 0.40);
}