.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;

  h1 {
    text-align: center;
  }

  @media (min-width: 1000px) {
    flex-direction: row;

    .left {
        width: 65%;
    }

    .right {
        width: 35%;

        align-items: flex-start;

        h1 {
            text-align: left;
        }
    }
  }
}
